<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>PlaylistController</servlet-name>
    <servlet-class>aiss.controller.PlaylistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistController</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongUpdateController</servlet-name>
    <servlet-class>aiss.controller.SongUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongUpdateController</servlet-name>
    <url-pattern>/songupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongDeleteController</servlet-name>
    <servlet-class>aiss.controller.SongDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongDeleteController</servlet-name>
    <url-pattern>/songdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SongNewController</servlet-name>
    <servlet-class>aiss.controller.SongNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SongNewController</servlet-name>
    <url-pattern>/songnew</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>list</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>PlaylistNewController</display-name>
    <servlet-name>PlaylistNewController</servlet-name>
    <servlet-class>aiss.controller.PlaylistNewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistNewController</servlet-name>
    <url-pattern>/newplaylist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaylistAddSongController</display-name>
    <servlet-name>PlaylistAddSongController</servlet-name>
    <servlet-class>aiss.controller.PlaylistAddSongController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaylistAddSongController</servlet-name>
    <url-pattern>/addsong</url-pattern>
  </servlet-mapping>
</web-app>